# [0.1.1]
# Ignore Visual Studio temporary files.
.vs/

# [0.1.2]
# Ignore build outputs.
bin/
obj/

# [0.1.3]
# Ignore frontend dependency folders.
node_modules/

# [0.1.4]
# Ignore environment files.
.env
.env.local